.slider {
  // border: 1px solid white;
  .container {
    display: flex;
    margin-top: 40px;
  }
  .logo {
    // border: 1px solid white;
    width: 12vw;
    max-width: 90px;
    min-width: 70px;
  }
}
