:root {
  --bg-color-top: rgb(20, 20, 20);
  --bg-color-bottom: rgb(0, 0, 0);
  --primary-color: rgb(0, 243, 173);
  --secondary-color: rgb(255, 117, 117);
}

html,
body,
#root {
  background-color: black;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
